{% extends "base.html" %}

{% block content %}
    <div class="container">
		<h1 class="display-4">Add Music to Account!</h1>
		<div class="col-md-auto">

            <div class="form-row">
				<div class="col-sml">
                    <span class-"badge badge-pill badge-info">Add Artist</span>
					<form method="post" action="connect-artist">
                        <select name="artist" class="form-control">
							{% for artist in data.artists %}
							<option value="{{ artist[1] }}">{{ artist[0] }}</option>
							{% endfor %}
						</select>
                        <button type="submit" class="btn btn-primary m-1">Add</button>
					</form>
                </div>

                <div class="col-sml">
                    <span class-"badge badge-pill badge-info">Add Song</span>
                    <form method="post" action="connect-song">
                        <select name="song" class="form-control">
							{% for song in data.songs %}
							<option value="{{ song[1] }}">{{ song[0] }}</option>
							{% endfor %}
						</select>
                        <button type="submit" class="btn btn-primary m-1">Add</button>
					</form>
                </div>
                <div class="col-sml">
                    <span class-"badge badge-pill badge-info">Add Composer</span>
					<form method="post" action="connect-composer">
                        <select name="composer" class="form-control">
							{% for composer in data.composers %}
							<option value="{{ composer[1] }}">{{ composer[0] }}</option>
							{% endfor %}
						</select>
                        <button type="submit" class="btn btn-primary m-1">Add</button>
					</form>
                </div>
                <div class="col-sml">
                    <span class-"badge badge-pill badge-info">Add Album </span>
					<form method="post" action="connect-album">
                        <select name="album" class="form-control">
							{% for album in data.albums %}
							<option value="{{ album[1] }}">{{ album[0] }}</option>
							{% endfor %}
						</select>
                        <button type="submit" class="btn btn-primary m-1">Add</button>
					</form>
				</div>
                {#			</div>#}
		</div>
        <h1 class="display-4">Add New Music to Database!</h1>
        <div class="col-md-auto">
            <span class="badge badge-pill badge-info">Add Artist</span>
            <div class="form-row pb-3">
                <div class="col-sml">
                    <form method="post" action="new-artist">
                        <div class="form-group">
                            <label for="Artist">Artist</label>
                            <input type="text" class="form-control" name="artist" id="Artist"
                                   aria-describedby="artistHelp" placeholder="Artist">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Artist</button>
                    </form>
                </div>
            </div>
            <span class="badge badge-pill badge-info">Add Composer</span>
            <div class="form-row pb-3">
                <div class="col-sml">
                    <form action="new-composer" method="post">
                        <div class="form-group">
                            <label for="Composer">Composer</label>
                            <input type="text" class="form-control" name="composer" id="Composer"
                                   aria-describedby="artistHelp" placeholder="Composer">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Composer</button>
                    </form>
                </div>
            </div>
            <span class="badge badge-pill badge-info">Add Song</span>
            <form action="new-song" method="post" class="pb-3">
                <div class="form-row">
                    <div class="col-sml mb-3">
                        <label for="Artist">Artist</label>
                        <input type="text" name="artist" class="form-control" id="Artist" aria-describedby="artistHelp"
                               placeholder="Artist">
                    </div>
                    <div class="col-sml mb-3">
                        <label for="Song">Song</label>
                        <input type="text" name="song" class="form-control" id="Song" placeholder="Song">
                    </div>
                    <div class="col-sml mb-3">
                        <label for="Album">Album</label>
                        <input type="text" name="album" class="form-control" id="Album" placeholder="Album(Optional)">
                    </div>
                    <div class="col-sml mb-3">
                        <label for="Composer">Composer</label>
                        <input type="text" name="composer" class="form-control" id="Composer" placeholder="Composer">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Song</button>
            </form>

            <span class="badge badge-pill badge-info">Add Album</span>
            <form action="new-album" class="pb-3" method="post">
                <div class="form-row">
                    <div class="col-sml mb-3">
                        <label for="Artist">Artist</label>
                        <input type="text" name="artist" class="form-control" id="Artist" aria-describedby="artistHelp"
                               placeholder="Artist">
                    </div>
                    <div class="col-sml mb-3">
                        <label for="Album">Album</label>
                        <input type="text" name="album" class="form-control" id="Album" placeholder="Album">

                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Add Album</button>
            </form>
        </div>
    </div>

{% endblock %}
