<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BootlegPandora</title>

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- Globall CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="my-2 my-md-0 mr-auto">
            <a class="fab fa-spotify px-md-2" href="https://open.spotify.com/user/ingloriousloki140/playlist/0Bm4Qr26auN8TJ1IvcH7AE?si=C7oTGazqQPuFpQp2b7lCZA"></a>
            <a class="navbar-brand">Bootleg Pandora</a>
            <a class="px-md-2" href="{{ url_for('signup') }}">Signup</a>
            <a class="px-md-2" href="{{ url_for('login') }}">Login</a>
            <a class="px-md-2" href="{{ url_for('search') }}">Search Music</a>
            <a class="px-md-2" href="{{ url_for('add') }}">Add Music</a>
            <a class="px-md-2" href="{{ url_for('play') }}">Create Playlist!</a>
        </nav>
    </div>
    
    {% block content %}
    
    {% endblock %}

	<video autoplay muted loop>
        <source src="{{ url_for('static', filename="Records.mp4", type="video/mp4") }}"/>
    </video>
</body>
</html>