{%  extends "base.html" %}

{% block content %}
<h1 class="display-4">Heres Your Tunes!</h1>
<div class="row">
    <div class="col-sm">
        Song
    </div>
    <div class="col-sm">
        Artist
    </div>
    <div class="col-sm">
        Album
    </div>
    <div class="col-sm">
        Composer
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
    </div>

</div>
<hr class="my-4">
<div>
    <button type="submit" class="btn btn-primary">Delete Record</button>
</div>


{% endblock %}