{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1 class="display-4">{{ album }}</h1>
    <h1 class="display-5">{{ artist }}</h1>
    <h2 class="display-6">Album Info</h2>

    <table class="table table-sm table-condensed table-bordered">
        <thead>
        <th>Song</th>
        <th>Producer</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>URL</th>
        <th>Update</th>
        </thead>
        <tbody>
        {% for r in album_data %}
            <tr class="table-active">
                <td> {{ r.0 }}</td>
                <td> {{ r.1 }}</td>
                <td> {{ r.2 }}</td>
                <td> {{ r.3 }}</td>
                <td> {{ r.4 }}</td>
                <td>
                    <form action="update_song" method="post">
                        <input type="hidden" name="song_name" value="{{ r.0 }}">
                        <input type="hidden" name="album" value="{{ album }}">
                        <input type="hidden" name="artist" value="{{ artist }}">
                        <button type="submit" class="btn btn-primary">Update Song</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <h2 class="display-6">Add song to "{{ album }}"</h2>
    <form action="update-album" method="post" class="pb-3">
        <input type="hidden" name="artist" value="{{ artist }}"/>
        <input type="hidden" name="album" value="{{ album }}"/>
        <div class="form-row">
            <div class="col-sml mb-3">
                <label for="Song">Song</label>
                <input type="text" name="song" class="form-control" id="Song" placeholder="Song">
            </div>
            <div class="col-sml mb-3">
                <label for="Composer">Producer</label>
                <input type="text" name="composer" class="form-control" id="Composer" placeholder="Composer (Optional)">
            </div>
            <div class="col-sml mb-3">
                <label for="Release">Release Date</label>
                <input type="text" name="release" class="form-control" id="Release"
                       placeholder="Release Date (Optional)">
            </div>
            <div class="col-sml mb-3">
                <label for="Genre">Genre</label>
                <input type="text" name="genre" class="form-control" id="Genre" placeholder="Genre (Optional)">
            </div>
            <div class="col-sml mb-3">
                <label for="Link">Link</label>
                <input type="text" name="link" class="form-control" id="Link" placeholder="Link (Optional)">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Song</button>
    </form>

	<form method="post" action="/delete">
		<input type="hidden" name="data-type" value="album">
		<input type="hidden" name="data" value="{{ album }}">
		<input type="submit" class="btn btn-primary" value="Delete album">
	</form>

    </div>

{% endblock %}
