{% extends "base.html" %}

{% block content %}
    <h1 class="display-4">{{ song }}</h1>
    <h2 class="display-6">Song Info</h2>

    <table class="table table-sm table-condensed table-bordered">
        <thead>
        <th>Artist</th>
        <th>Album</th>
        <th>Producer</th>
        <th>Release Date</th>
        <th>Genre</th>
        <th>URL</th>
        </thead>
        <tbody>
        {% for r in song_data %}
            <tr class="table-active">
                <td> {{ r.0 }}</td>
                <td> {{ r.1 }}</td>
                <td> {{ composer_data.0.0 }}</td>
                <td> {{ r.2 }}</td>
                <td> {{ r.3 }}</td>
                <td> {{ r.4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
    <hr class="my-4">
    <form method="post" action="/delete">
		<input type="hidden" name="data-type" value="song">
		<input type="hidden" name="data" value="{{ song }}">
		<input type="submit" class="btn btn-primary" value="Delete song">
	</form>

{% endblock %}
